@import url(https://fonts.googleapis.com/css?family=Raleway:100,400);

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
  }

body {
  display: flex;
  justify-content: center;

  background-color: rgb(216, 207, 230);
}

.golf-peg {
  position: absolute;
  border: 1px solid black;
  border-radius: 99px;
  cursor: pointer;
  height: 50px;
  width: 50px;
}

.hole {
  position: absolute;
  z-index: 50;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: black;
}

.game-board {
  margin-top: 50px;
}

.game-controls {
  position: fixed;
  top: 0;
  left: 0;
}
